<?xml version="1.0"?>
<launch>
  
  <arg name="use_robot_name" default="open_manipulator"/>

  <rosparam file="$(find i3e-d3_manipulation_control)/config/gazebo_controller.yaml" command="load"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find i3e-d3_manipulation_control)/config/open_manipulator_controller.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="manipulator_controller_spawner" pkg="controller_manager" 
        type="spawner" respawn="false" output="screen"  
        args="$(arg use_robot_name)/joint_state_controller
              $(arg use_robot_name)/joint1_position
              $(arg use_robot_name)/joint2_position
              $(arg use_robot_name)/joint3_position
              $(arg use_robot_name)/joint4_position
              $(arg use_robot_name)/gripper_position
              $(arg use_robot_name)/gripper_sub_position"/>

  <!-- Run gripper sub position publisher -->
  <node name="gripper_sub_publisher" pkg="open_manipulator_gazebo" type="gripper_sub_publisher" output="screen" ns="$(arg use_robot_name)"/>

</launch>
